<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styleHomePage.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <title>Home</title>
</head>
<body>
    <header>
        <div class = "header__logo">
            <p>BUG TRACKER</p>
        </div>
        <nav>
            <div class="topnav" id="myTopnav">
                <a id="createTicket" class="createTicket" href="/createTicket">CREATE TICKET</a>
                <a href="homePage">HOME</a>
                <a href="projects">PROJECTS</a>
                <a href="search">SEARCH</a>
                <a href="logout" th:text="'('+${userName}+') LOGOUT'"> </a>
                <a href="#" id="menu" class = "icon"> &#9776 </a>
            </div>
        </nav>
    </header>
    <main>
        <div class="table">
            <p>
                <span>Ticket id: </span>
                <span th:text="${ticket.ticketId}"></span>
            </p>
            <p>
                <span>Project id: </span>
                <span th:text="${ticket.projectId}"></span>
            </p>
            <p>
                <span>Author: </span>
                <span th:text="${ticket.author}"></span>
            </p>
            <p>
                <span>Name: </span>
                <span th:text="${ticket.name}"></span>
            </p>
            <p>
                <span>Bug status: </span>
                <span th:text="${ticket.bugStatus}"></span>
            </p>
            <p>
                <span>Severity: </span>
                <span th:text="${ticket.severity}"></span>
            </p>
            <p>
                <span>Priority: </span>
                <span th:text="${ticket.priority}"></span>
            </p>
            <p>
                <span>Summary: </span>
                <span th:text="${ticket.summary}"></span>
            </p>
            <p>
                <span>Creation date: </span>
                <span th:text="${ticket.date}"></span>
            </p>
            <p>
                <span>Expected: </span>
                <span th:text="${ticket.expected}"></span>
            </p>
            <p>
                <span>Actual: </span>
                <span th:text="${ticket.actual}"></span>
            </p>

            <div class="middle">
                <a th:href="@{'/deleteTicket/'+ ${ticket.ticketId}}" class="btn btn1">DELETE</a>
            </div>
           
        </div>
        
    </main>
</body>
<script src="../static/scriptHomePage.js"> </script>
</html>